* {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkred;
    height: 60px;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

button {
    border-width: 0;
    padding: 8px;
    width: 90px;
    margin: 30px;
    border-radius: 10px;
}

#botonera {
    position: relative;
    margin-left: 30%;
    display: inline-block;
}